*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
#map {
    width: 50%;
    width: 900px;
    height: 900px;
}
#container{
    margin: 0 auto;
    width:100%;
    display: flex;
    justify-content: center;

}

.normaldiv {

    position: relative;
    border: 5px solid #F77B00;;

}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

a { position: relative; z-index: 1; }
a span { display: inline-block; }
a object { position: relative; z-index: -1; }