*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body,
html,
#map {
    width: 900px;
    height: 900px;

}


.normaldiv {
    border: 5px solid #F77B00;;
}

.imageOnTop {
    position: absolute;
    margin-top: -10px;
    left: -10px;
    border: 1px solid #000000;
    width: 950px;
    height:950px;
}
body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}